In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

data = pd.read_csv(r"C:\Users\Tanveer khan\Desktop\IPIP-FFM-data-8Nov2018\data-final.csv",delimiter="\t")

In [2]:
data.head(5)

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,2016-03-03 02:02:57,1366.0,768.0,8.0,315.0,17,2,KE,1.0,38.0

In [ ]:
data.shape

In [3]:
data.columns

Index(['EXT1', 'EXT2', 'EXT3', 'EXT4', 'EXT5', 'EXT6', 'EXT7', 'EXT8', 'EXT9',
       'EXT10',
       ...
       'dateload', 'screenw', 'screenh', 'introelapse', 'testelapse',
       'endelapse', 'IPC', 'country', 'lat_appx_lots_of_err',
       'long_appx_lots_of_err'],
      dtype='object', length=110)

In [4]:
data.isnull().values.any()

True

In [5]:
data=data.dropna()

In [6]:
data.isnull().values.any()

False

In [ ]:
new_data = data.iloc[:,0:50]
new_data['country'] = data['country']
new_data.shape

In [8]:
new_data['country'] = data['country']

In [9]:
new_data.shape

(1000, 51)

In [10]:
new_data.columns

Index(['EXT1', 'EXT2', 'EXT3', 'EXT4', 'EXT5', 'EXT6', 'EXT7', 'EXT8', 'EXT9',
       'EXT10', 'EST1', 'EST2', 'EST3', 'EST4', 'EST5', 'EST6', 'EST7', 'EST8',
       'EST9', 'EST10', 'AGR1', 'AGR2', 'AGR3', 'AGR4', 'AGR5', 'AGR6', 'AGR7',
       'AGR8', 'AGR9', 'AGR10', 'CSN1', 'CSN2', 'CSN3', 'CSN4', 'CSN5', 'CSN6',
       'CSN7', 'CSN8', 'CSN9', 'CSN10', 'OPN1', 'OPN2', 'OPN3', 'OPN4', 'OPN5',
       'OPN6', 'OPN7', 'OPN8', 'OPN9', 'OPN10', 'country'],
      dtype='object')

In [ ]:
#performing label encoding for the dataset
from sklearn import preprocessing 

encoder = preprocessing.LabelEncoder()

for i in new_data.columns:
    if isinstance(new_data[i][0], str):
            new_data[i] = encoder.fit_transform(new_data[i])

In [ ]:
#Train test split
from sklearn.model_selection import train_test_split  #import train test split form sklearn lib and give its columns name
feature_columns = ['EXT1', 'EXT2', 'EXT3', 'EXT4', 'EXT5', 'EXT6', 'EXT7', 'EXT8', 'EXT9',
       'EXT10', 'EST1', 'EST2', 'EST3', 'EST4', 'EST5', 'EST6', 'EST7', 'EST8',
       'EST9', 'EST10', 'AGR1', 'AGR2', 'AGR3', 'AGR4', 'AGR5', 'AGR6', 'AGR7',
       'AGR8', 'AGR9', 'AGR10', 'CSN1', 'CSN2', 'CSN3', 'CSN4', 'CSN5', 'CSN6',
       'CSN7', 'CSN8', 'CSN9', 'CSN10', 'OPN1', 'OPN2', 'OPN3', 'OPN4', 'OPN5',
       'OPN6', 'OPN7', 'OPN8', 'OPN9', 'OPN10']
predicted_class = ['country']
X = data[feature_columns].values
y = data[predicted_class].values

In [ ]:
#Using DecisionTreeClassifier of tree class to use Decision Tree Algorithm
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
DT_classifier = DecisionTreeClassifier()
DT_classifier.fit(X_train, y_train)
DT_classifier = DT_classifier.predict(X_test)
print("Accuracy of Decision Tree Classifier Model = {0:.4f}".format(metrics.accuracy_score(y_test,
DT_classifier)))

In [ ]:
#Implement Model Logistic Regression:-
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.3, random_state = 1000)
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_classification
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train.ravel())

y_pred = log_reg.predict(X_test)
#print accuracy upto 5 numbers
print("Accuracy of Logistic regression model on our dataset = {0:.5f}".format(metrics.accuracy_score(y_test, y_pred)))